@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    p, a, figcaption {
        font-size: 1rem;
    }

    .container {
        width: var(--container-width-sm);
    }

    section {
        padding: 7rem 0;
    }
    
    section > h1, section > p {
        width: var(--container-width-sm);
    }

    /* NAV SECTION  */
    .navContainer {
        padding-inline: .5rem;
    }

    .navMenu {
        position: fixed;
        right: 0;
        top: 3.8rem;
        flex-direction: column;
        gap: 0;
        width: fit-content;
        display: none;
    }

    .navMenu li {
        width: 100%;
    }

    .navMenu li a {
        background: var(--color-gray-200);
        padding: 1rem 4rem;
        width: 100%;
        display: block;
        border-top: 1px solid var(--color-gray-300);
        text-align: center;
        box-shadow: -2rem 5rem 5rem rgba(0, 0, 0, 0.3);
    }

    .navToggleOpen,
    .navToggleClose {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-gray-900);
        cursor: pointer;
    }
    
    .navToggleClose {
        display: none;
    }

    .navButtons {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    
    /* HEADER SECTION  */

    header{
        height: 115svh;
    }

    .headerImage {
        width: 50vw;
        aspect-ratio: 4/5;
    }

    .headerContent {
        width: var(--container-width-sm);
        padding-bottom: 3rem;
    }

    .headerSocials {
        display: none;
    }

    .headerCta {
        flex-direction: column;
    }
    

    
    /* ABOUT SECTION  */

    .aboutContainer {
        grid-template-columns: 1fr;
        padding-inline: .6rem;
    }
    
    .aboutImage {
        display: none;
    }
    
    .aboutCards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .aboutDetails h1 {
        text-align: center;
    }

    
    /* SERVICES SECTION  */

    .serviceContainer {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding-inline: .6rem;

    }
    
    .servicesRight {
        padding: 0;
        border: 0;
    }

    .servicesRight h3 {
        margin-bottom: .6rem;
    }

    
    /* PROHECTS SECTION  */
    
    .projectsCategories {
        gap: 0.7rem;
    }
    
    .projectsCategories li {
        padding: 0.8rem 1rem;
    }
    
    .projectsContainer {
        gap: 1rem;
    }
    
    
    /* TESTIMONIALs SECTION  */

    .swiper {
        width: var(--container-width-sm);
    }
    
    .swiper-wrapper {
        padding-bottom: 3rem;
    }
    
    .swiper-slide {
        padding: 1.5rem;
    }
    
    
    /* CONTACT SECTION  */
    
    .contactContainer {
        grid-template-columns: 1fr;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }
    
    .contactList {
        flex-direction: row;
        justify-content: center;
    }
    
    /* SCROOL ICON SECTION  */

    #scrollToTopBtn {
        right: 25px;
        bottom: 30px;
    }
  
    
    
}

